<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Title</key>
		<string>Cross platform mobile development</string>
		<key>Id</key>
		<string>-M4s6czMMzs</string>
		<key>Duration</key>
		<string>14:01</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Cross platform mobile development 2/2</string>
		<key>Id</key>
		<string>mdpeD80EQe8</string>
		<key>Duration</key>
		<string>14:01</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Absolute5 Video Ufficiale 2010</string>
		<key>Id</key>
		<string>-M0tOb8Fpt4</string>
		<key>Duration</key>
		<string>1:22</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Prelude G major Cello Suite n°1 BWV 1007 - J.S.Bach</string>
		<key>Id</key>
		<string>g9vJAnv0188</string>
		<key>Duration</key>
		<string>2:39</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Rondò alla Turca K331</string>
		<key>Id</key>
		<string>DN4ExKyPydk</string>
		<key>Duration</key>
		<string>3:51</string>
	</dict>
	<dict>
		<key>Title</key>
		<string>Rubik&apos;s cube solved</string>
		<key>Id</key>
		<string>3YLt8ULE2jc</string>
		<key>Duration</key>
		<string>2:10</string>
	</dict>
</array>
</plist>
